/* You can add global styles to this file, and also import other style files */


.flexbox-container {
  height: 100px;
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

.flex-item {
  height: 60px;
  background-color: red;
  /* border: 1px solid black; */
  width: 300px;
}

.login {
  height: 400px;
  width: 500px;
  background-color: #ffffff;
}

.footer {
  height: 100px;
  background-color: #3f51b5;
  color: #ffffff;
  width: 100%;
}

.page-layout {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* height: 100vh; */
  /* align-items: center; */
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
